<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--设置开始监视的价格-->
    <add key="PriceStart" value="55.4"/>

    <!--设置每次买卖的数量-->
    <add key="OptNum" value="0.1" />

    <!--配置杠杆，设置从哪个点开始玩6,5表示能买1次，能卖5次-->
    <add key="StartGangGan" value="200"/>
    <!--配置杠杆，默认是3，表示可以卖3倍，买0倍-->
    <add key="DGangGan" value="400"/>
    <!--设置上升利润达到多少进行卖出-->
    <add key="RiseRate" value="0.0025"/>
    <!--设置下降亏损达到多少进行买入-->
    <add key="FallRate" value="0.0025"/>
  </appSettings>
</configuration>